/*
 * Built by: cowowo.cat
 * Author: Carl Johansson
 * File: CSS Reset
 */


/* 
 * BOX MODEL 
 */
* {
	@include box-sizing(border-box); /* Sass - Compass */
	}
	
	
/* 
 * CSS RESET 
 */
html, body,
h1, h2, h3, h4, h5, h6, 
p, 
input, textarea,
pre, code, 
img,
dl, dt, dd, 
ol, ul, li,
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size:100%;
	}

ul, ol {list-style:none;}

img {
	max-width:100%; 
	height:auto;
	}
	

/* 
 * FORMS RESET 
 */		
input[type=text], 
input[type=submit],
input[type=reset],
input[type=button], 
input[type=image], 
textarea,
select {
	-webkit-appearance: none; /* VIP - to override al i.e. iOS safari stryling) */
	border-radius:0px;
	} 
	
	
/* option {cursor:pointer;} */ /* NOT WORKING !!! */
label,
input[type="submit"],
input[type="reset"],
button,
select {
    cursor:pointer; 
    }


/* input, */
input[type=text], 
input[type=password], 
select, 
textarea {
	width:100%; 
	}		
	
	
textarea {display: block;} /* to avoid default margin bottom due to display: inline(-block) */

	
	
		
/* TABLES */
table {
	border-collapse: collapse;
	border-spacing: 0;
	}