/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: GLOBAL
 */
/* COMPASS */
/* BASE */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: CSS Reset
 */
/* BOX MODEL */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_reset\.scss}line{font-family:\000038}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Sass - Compass */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000321}}
html, body,
div, span,
h1, h2, h3, h4, h5, h6,
p,
pre, code,
img,
dl, dt, dd,
ol, ul, li,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* for headings, works */
  font-weight: normal;
  /* for headings, works */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000331}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000333}}
img {
  max-width: 100%;
  height: auto;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Sass
 */
/* 
 * VARIABLES - Colors 
 */
/* white */
/* 
 * VARIABLES - Media-Query Break-points
 */
/* 
 * VARIABLES - Spacing
 */
/* 
 * VARIABLES - Font-Size
 */
/* 
 * MIXINS - LAYOUT - Responsive
 */
/* 
 * MIXINS - LAYOUT - Padding
 */
/* 
 * CLASS EXTENDS - LAYOUT - Clearfix
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000376}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000384}}
* html .clearfix {
  zoom: 1;
}

/* IE6 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000385}}
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* CSS Document - FRONT-END */
/* 
 * SASS - VARIABLES - FONTS - "IMPORT" GOOGLE FONTS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000340}}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000347}}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

/* METER AQUI LO DEL CODE TAG !!!!!!!!!!!! */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000359}}
pre {
    /*
	-webkit-box-sizing: border-box; // Safari/Chrome, other WebKit
	-moz-box-sizing: border-box;    // Firefox, other Gecko 
	box-sizing: border-box;         // Opera/IE 8+
    */
  /* border-radius:10px 30px; */
  border-radius: 10px 30px;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_layout\.scss}line{font-family:\000038}}
body {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000317}}
header, footer {
  background-color: #e91e63;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000322}}
.frame {
  margin-left: auto;
  margin-right: auto;
  /* max-width:1300px; */
  max-width: 1140px;
  min-width: 320px;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000334}}
  .frame {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* COMPONENTS */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\000039}}
header .inner {
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000319}}
#main_logo {
  float: left;
  font-size: 34px;
  color: #fff;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000326}}
#slogan {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 20px;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000333}}
#slogan a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000335}}
#slogan a:hover {
  color: #cddc39;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000345}}
  #main_logo {
    float: none;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000349}}
  #slogan {
    position: relative;
    text-align: center;
    bottom: 3px;
  }
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_header\.scss}line{font-family:\0000364}}
  #slogan span {
    display: block;
  }
}
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_footer\.scss}line{font-family:\000037}}
footer {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000310}}
footer .inner {
  overflow: hidden;
  padding: 12px;
  text-align: center;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000321}}
.footerContent {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000324}}
.footerContent span {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000327}}
.footerContent img {
  width: 86px;
  vertical-align: middle;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Reset\/assets\/scss\/components\/_content\.scss}line{font-family:\000037}}
main {
  padding-top: 48px;
  padding-bottom: 48px;
}
